<%- include('partials/header'); -%>

<% if (errorMessage) { %>
    <div id="modalConfirmacion" class="modal-confirmacion" style="display:flex;">
        <div class="modal-contenido">
            <h2> <%= errorMessage %> </h2>
            <div class="modal-botones">
                <button id="btnConfirmarModal" class="btn-finalizar">Aceptar</button>
            </div>
        </div>
    </div>
<% } %>

    <div class="containerLogin">

        <img src="./img/PocketStore.png" alt="Logo de PocketStore" class="logo-login">

        <form method="POST" action="/newUser">
            <div id="divLogin" class="caja">
                <label for="inputNombre">Nombre de usuario:</label>
                <input id="inputNombre" name="username" type="text" placeholder="Ingrese su nombre de usuario" value="<%= typeof oldData !== 'undefined' && oldData.username ? oldData.username : '' %>" required>

                <label for="inputEmail">Correo electronico:</label>
                <input id="inputEmail" name="email" type="email" placeholder="example@...com" value="<%= typeof oldData !== 'undefined' && oldData.email ? oldData.email : '' %>" required>

                <label for="inputContrasena">Contrase単a:</label>
                <input id="inputContrasena" name="password" type="password" placeholder="Ingrese su contrase単a" required>

                <label for="inputContrasena2">Confirmar contrase単a:</label>
                <input id="inputContrasena2" name="password2" type="password" placeholder="Ingrese su contrase単a" required>

                <div class="botonera-login">
                    <button id="btnAccept" type="submit" class="button">Aceptar</button>
                    <a href="/login" class="button">Cancelar</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        const modal = document.getElementById('modalConfirmacion');
        const btnConfirmarModal = document.getElementById('btnConfirmarModal');

        btnConfirmarModal.addEventListener("click", (e) => {
            e.preventDefault();
            modal.style.display = "none";
        });
    </script>

<%- include('partials/footer'); -%>