<%- include('partials/header'); -%>

<%- include('partials/navbar', { seccionActual: seccionActual }); -%>

    <div class="container-principal">
        <div id="panel-izquierdo">
            <img src="./img/celu.png" alt="Celular" class="celular">
            <img src="./img/celu.png" alt="Celular" class="celular">
            </ul>
        </div>

        <div id="panel-derecho-celulares-gestion">
            <% products.forEach(p=> { %>
                <% if (p.activo) { %>
                    <div class='card-gestion-active'>
                <% } %>
                <% if (!p.activo) { %>
                    <div class='card-gestion-disable'>
                <% } %>
                    <img src="<%= p.imagen %>" style="max-width: 200px; max-height: 200px;">
                    <p> <%=p.marca%> </p>
                    <p> <%=p.precio%> </p>
                    <p> <%=p.marca%> </p>

                    <div class="btn-caja">
                        <button id="btn-habilitar" data-index="<%=p.id%>" class="btnActDes button">Habilitar</button>
                        <button id="btn-deshabilitar" data-index="<%=p.id%>" class="btnActDes button">Deshabilitar</button>
                        <a href="/gestion" id="btn-modificar" data-index="<%=p.id%>" class="button">Modificar</a>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>

    <div>
        <button class="floating-icon" onclick="window.location.href='/gestion'">&plus;</button>
    </div>

    <script>
        const productsArray = <%- JSON.stringify(products) %>;
        const panelDerecho = document.getElementById('panel-derecho-celulares-gestion');

        panelDerecho.addEventListener('click', (e) => {
            const target = e.target;

            if (target.id === 'btn-habilitar') {
                const idClick = target.getAttribute("data-index") - 1;
                productsArray[idClick].activo = true;
            }
            else if (target.id === 'btn-deshabilitar') {
                const idClick = target.getAttribute("data-index") - 1;
                productsArray[idClick].activo = false;
            }
        });

        

        // fetch('/dashboard', {method: 'PUT', headers:{ "Content-Type": "application/json" }, body: JSON.stringify(productsArray)})
        //     .then(response => {
        //         if(response.ok) {
        //             console.log(response);
        //         }
        //     })
        //     .catch(err => {
        //         console.log({ a: err.message });
        //     })
    </script>

<%- include('partials/footer'); -%>