<%- include('partials/header'); -%>

<%- include('partials/navbar'); -%>


    <div class="container-gestion">
        <div class="box-gestion">
            <% if (mode === 'C') {%>
                <form method="POST" action="/products/create" enctype="multipart/form-data">
            <%}%>

            <% if (mode === 'M') {%>
                <form method="POST" action="/products/edit?_method=PUT" enctype="multipart/form-data">
            <%}%>

            <% if (mode === 'M') {%>
                <% if (typeof product !== 'undefined' && product.imagen) { %>
                    <div>
                        <label>Imagen Actual:</label><br>
                        <img src="/data/uploads/<%= product.imagen %>" alt="Imagen del producto" style="max-width: 200px; height: auto;">
                    </div>
                    <input type="hidden" name="imagen_existente" value="<%= typeof product !== 'undefined' && product.imagen ? product.imagen : '' %>">
                <% } %>
            <%}%>

            <div>
                <label for="imagetxt">Subir Imagen:</label>
                <input name="imagen" type="file" id="imagetxt">
            </div>
                
                <div class="form-row">
                    <input name="id" type="hidden" id="idtxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.id ? product.id : '' %>" <% } %>>
                </div>

                <div class="form-row">
                    <label for="marcatxt">Marca: </label>
                    <input name="marca" type="text" id="marcatxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.marca ? product.marca : '' %>" <% } %>>
                </div>

                <div class="form-row">
                    <label for="preciotxt">Precio: </label>
                    <input name="precio" type="number" id="preciotxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.precio ? product.precio : '' %>"<% } %>>
                </div>

                <div class="form-row">
                    <label for="selectType">Categoria: </label>
                    <select id="selectType">
                        <option value="0" disabled selected>Seleccionar</option>
                        <option value="1" <% if (mode === 'M' && typeof product !== 'undefined') {%> <%= product.modelo !== null ? 'selected' : '' %> <% } %> >Celular</option>
                        <option value="2" <% if (mode === 'M' && typeof product !== 'undefined') {%> <%= product.tipo !== null ? 'selected' : '' %> <% } %> >Accesorio</option>
                    </select>
                </div>

                <div id="bloqueC" class="sel-celular">
                    <div class="form-row">
                        <label for="modelotxt">Modelo: </label>
                        <input name="modelo" type="text" id="modelotxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.modelo ? product.modelo : '' %>"<% } %>>
                    </div>
                    <div class="form-row">
                        <label for="colortxt">Color: </label>
                        <input name="color" type="text" id="colortxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.color ? product.color : '' %>"<% } %>>
                    </div>

                    <div class="form-row">
                        <label for="almacenamientotxt">Almacenamiento: </label>
                        <input name="almacenamiento" type="number" id="almacenamientotxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.almacenamiento ? product.almacenamiento : '' %>"<% } %>>
                    </div>

                    <div class="form-row">
                        <label for="ramtxt">RAM: </label>
                        <input name="ram" type="number" id="ramtxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.ram ? product.ram : '' %>"<% } %>>
                    </div>
                </div>

                <div id="bloqueA" class="sel-accesorio">
                    <div class="form-row">
                        <label for="tipotxt">Tipo: </label>
                        <input name="tipo" type="text" id="tipotxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.tipo ? product.tipo : '' %>"<% } %>>
                    </div>

                    <div class="form-row">
                        <label for="compatibilidadtxt">Compatibilidad: </label>
                        <input name="compatibilidad" type="text" id="compatibilidadtxt" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.compatibilidad ? product.compatibilidad : '' %>"<% } %>>
                    </div>
                </div>

                <input name="flag" id="flag" type="hidden" value="1">
                <input name="activo" id="activo" type="hidden" <% if (mode === 'M') {%> value="<%= typeof product !== 'undefined' && product.activo ? product.activo : true %>"<% } %>>

                <div class="botonera-login">
                    <a href="/dashboard" id="btnGestionCancelar" class="button">Cancelar</a>
                    <button id="btnGestionAceptar" class="button" type="submit">Aceptar</button>
                </div>
            </form>

            <% if (errorMessage) { %>
                <div style="color: red; margin-bottom: 15px;">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
    </div>

    <script>
        const select = document.getElementById('selectType');
        const celulares = document.getElementById('bloqueC');
        const accesorios = document.getElementById('bloqueA');
        const flag = document.getElementById('flag'); // Si no se envia la flag, es un accesorio

        document.addEventListener('DOMContentLoaded', (e) => {
            if (select.value === '1') {
                celulares.style.display = 'block';
                accesorios.style.display = 'none';

                flag.disabled = true;
            } else if (select.value === '2') {
                celulares.style.display = 'none';
                accesorios.style.display = 'block';

                flag.disabled = false;
            } else {
                celulares.style.display = 'none';
                accesorios.style.display = 'none';
            }
        });

        select.addEventListener('change', (e) => {
            if (select.value === '1') {
                celulares.style.display = 'block';
                accesorios.style.display = 'none';

                flag.disabled = true;
            } else if (select.value === '2') {
                celulares.style.display = 'none';
                accesorios.style.display = 'block';

                flag.disabled = false;
            }
        });

    </script>

<%- include('partials/footer'); -%>